*{
    font-family: sans-serif;
}

.hero1{
    height:100%;
    width: 100%;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(banner.jpg);
    background-size: auto;
    position: absolute;
}

.form-box1{
    width: 380px;
    height: 600px;
    position: relative;;
    background-color: rgba(255, 255, 255, 0.863);
    margin:6% auto;
    margin-left: 70%;
    padding: 5px;
    overflow: hidden;

}


.input-group1{
    top: 10px;
    left: 50px;
    position: absolute;
    width: 280px;
    transition: .3s;
}

.input-field1{  
    width:100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #999;
    outline: none;
    background: transparent;
}


.input-field2{  
    width:100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    outline: none;
    background: transparent;

}

.submit-btn1{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: linear-gradient(to right,#a710ff,#05e2ff);
    border: 0;
    outline: none;
    border-radius:30px ;
    margin-top: 80px;
    margin-left: 20px;
}

h1 {
    text-align: center;
    padding-bottom: 25px;    
}
