*{
    font-family: sans-serif;
}



.hero{
    height:100%;
    width: 100%;
   background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('banner.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 380px;
    height: 650px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.863);
    margin:6% auto;
    padding: 5px;
    overflow: hidden;
   
 
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;

}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer ;
    background: transparent;
    border: 0;
    position: relative;
    outline: none;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#a710ff,#05e2ff);
    border-radius: 30px;
    transition: .5s;
}
.social-media{
    margin-top: 30px auto;
    font-size: 20px;
    text-align: center;
}
.social-icons{
    height: 40px;
    width: 40px;
    margin: 0 0.45rem;
    padding-top:1px ;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(28, 29, 29);
    border-radius: 50%;
    display: inline-block;
    font-size: 25px;
    color:#333;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .3s;
}
.input-field{
    width:100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.input-group i{
    text-align: center;
    line-height: 50px;
    
    color: #7e807e;
    
    margin-left: 10px;
   
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: linear-gradient(to right,#a710ff,#05e2ff);
    border: 0;
    outline: none;
    border-radius:30px ;
    margin-top: 30px;
    margin-left: 20px;
}
.check-box{
    margin: 30px 10px 30px 0;
}
.chek{
    color: #777;
    font-size: 12px;
    
    margin-top: 50px;
    margin-left: 9px;
    margin-bottom: 9px;
    
}
#login{
    left: 50px;

}
#register{
    left:450px;
}
















































