attrs==19.3.0
certifi==2020.6.20
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
dnspython==1.16.0
Flask==1.1.2
Flask-PyMongo==2.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
munch==2.5.0
pymongo==3.10.1
python-dateutil==2.8.1
pytz==2020.1
waitress==1.4.4
Werkzeug==1.0.1
wincertstore==0.2
