<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/static/style.css" rel="stylesheet" type="text/css">
<link href="/static/icofont.min.css" rel="stylesheet">

<title>Login & Sign Up Page</title>
</head>

<body>

    <div class="hero">
    <div class="form-box">
    <div class="button-box">
    <div id="btn"></div>

        <button type="button"  class="toggle-btn" onclick="login()">Log In</button>
        <button type="button" class="toggle-btn" onclick="register()">Register</button>
     </div>
     <div class="social-media">
            
        <a href="#" class="social-icons"><i class="icofont-facebook"></i></a>
        <a href="#" class="social-icons"><i class="icofont-envelope"></i></a>
        <a href="#" class="social-icons"><i class="icofont-linkedin"></i></a>
        <a href="#" class="social-icons"><i class="icofont-github"></i></a>
    </div>

    <form id="login"    method="post" class="input-group">
        
        
        <input type="text" class="input-field"  name="username" placeholder="Username" required>
        
        
        
        <input type="password" class="input-field"  name="password" placeholder="Password" required>
        
        <input type="checkbox" class="check-box"><span class="chek">Remember me</span>
        <button type="submit" href="/input" class="submit-btn">Log In</button>
    </form>

    <form id="register"   method="post"  class="input-group">
        <input type="text"     class="input-field"  placeholder="Name" required>
        <input type="text"     class="input-field" placeholder="Surname" required>
        <input type="text"     class="input-field"  name="username" placeholder="Username"required>
        <input type="email"    class="input-field" placeholder="E-mail Id" required>
        <input type="password" class="input-field"  name="password" placeholder="Password" required>
        <input type="password" class="input-field" placeholder="Confirm-Password" required>
        <input type="text"     class="input-field" placeholder="Department" required>
        
        <button type="submit" class="submit-btn">Register</button>
    </form>

    </div>
    </div>
    <script>
        var x = document.getElementById("login");
        var y = document.getElementById("register");
        var z = document.getElementById("btn");
        function register(){
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px"
        }
        function login(){
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0px"
        }
    </script>
    
    
</body>
</html>