<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/static/input_style.css" rel="stylesheet" type="text/css">
	<link href="/static/icofont.min.css" rel="stylesheet">
	<title> INPUT PAGE </title>
</head>
<body>
    <div class="hero1">
    <div class="form-box1">

    <form id="register1"   method="post"  class="input-group1">
    	<h1><b>INPUTS FOR THE PROGRAM</b></h1>
        <input type="number"     class="input-field1" name='drones' id='drones' placeholder="Number of drones" required>
        <input type="number"     class="input-field1" name='ranges' id='ranges' placeholder="Range (in km based on battery life)" required>
        <input type="number"     class="input-field1" name='speed' id='speed' placeholder="Top speed"required>
        <input type="number"     class="input-field1" name='altitude' id='altitude' placeholder="Altitude(Height)"required>
        <input type="number"     class="input-field1" name='angle' id='angle' placeholder="Field Of Vision(Angle)"required>


        
        <button type="submit" href="/shconv_2" onclick="submit_entry();" class="submit-btn1"><b>Proceed</b></button>
    </form>

    </div>
    </div>
    <script>
        
        function submit_entry()
        {
            var drones=document.getElementById("drones");
            var ranges=document.getElementById("ranges");
            var speed=document.getElementById("speed");
            var altitude=document.getElementById("altitude");
            var angle=document.getElementById("angle");



            var entry1 ={
                drones:drones.value,
                ranges:ranges.value,
                speed:speed.value,
                altitude:altitude.value,
                angle:angle.value
            };
            console.log('hi')
            fetch(`${window.origin}/input/hello`, {
               method: "POST",
               credentials: "include",
               body: JSON.stringify(entry1),
               cache: "no-cache",
               headers: new Headers({
                 "content-type": "application/json"
               })
            })
            .then(function(response) {
              if (response.status !== 200) {
                console.log(`Looks like there was a problem. Status code: ${response.status}`);
                return;
               }
             response.json().then(function(data) {
             console.log(data);
             });
            })
            .catch(function(error) {
              console.log("Fetch error: " + error);
            });


        }
    </script>
</body>
</html>