  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="/static/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="/static/icofont/icofont.min.css" rel="stylesheet">
      <link href="/static/map.css" rel="stylesheet" type="text/css">
      <title>SIH MAP</title>
    </head>
    <style>
	    html,
	    body 
	    {
	    	margin: 0;
	    	height: 100%;
	    }
	    
	    	    
    </style>
    <body>

   		<div id=container>
   			<div id="left">
   				
   				<div class="form-box1">
	   				<form id="register1"     class="input-group1">
	   					<img src="C:\Users\Jaison\SIH\app\app\static\2025680.svg" id="image">
				    	<h3 style="margin-top: 40px"><b>INPUTS FOR THE PROGRAM</b></h3>
				        <input type="number"     class="input-field1" id="drones" placeholder="Number of drones" required>
				        <input type="number"     class="input-field1" id="ranges" placeholder="Range (in km based on battery life)" required>
				        <input type="text"     class="input-field1" id="speed" placeholder="Top speed"required>
				        <input type="number"     class="input-field1" id="altitude" placeholder="Altitude" required>
				        <input type="number"     class="input-field1" id="angle" placeholder="Field Of Vision(Angle)" required>
				        <div class="select1">
				        	<select id="select_input">
							    <option value="obstacle_present" id="known" >Obstacle Known</option>
							    <option value="no_obstacle" id="unknown" >Obstacle Unknown</option>						   
							</select>
				        </div>
				        

				        <button type="submit" class="submit-btn1" onclick="submit_entry();" id = "button5"><b>PROCEED</b></button>
	    			</form>
	   			</div>
	   		</div>
   			<div id="center">   			
				<div id="map"></div>
				<div id="controls">					
			        <input type="file" name="shapefile" id="shapefile" />
			        <div id=toggle_button>
				        <button class = "control_button" id = "button"><b> ADD OBSTACLE </b>  </button>
				        <button class = "control_button" id = "button1"><b> CREATE OBSTACLE </b>  </button>
				        <button class = "control_button" id = "button2"><b> DELETE NODE </b>  </button>
				        <button class = "control_button" id = "button3"><b> SUBMIT </b>  </button>      
				        <button class = "control_button" id = "button4"><b> ANIMATION </b>  </button>
			        </div>
			        
			        
			    </div>
				
			</div>	   			
   			<div id="right">
   				
   				<div id="form-box2">
   					
					<img src="C:\Users\Jaison\SIH\app\app\static\logo.png" id="image1">

					<h3 style="margin-top: 40px"><b>OUTPUT</b></h3>
					<h5 style="padding-top: 10px"><b> Current Progress: </b></h5>
					<progress id="file" value="0" max="100"> 32% </progress>
					<h5><b> Total Area Covered: </b></h5>
					<input type="text" name="total_area" id="output"><br>
					<h5 style="padding-top: 10px"><b> Total Area Covered: </b></h5>				    			      				  
	    			
   				</div>
   			</div>
   			
   			
   		</div>     
        <script>
	        const POINT_NAME = "layers/POINT";
	        const POLY_NAME = "layers/POLYGON";
	        const OBSTACLE = "obstacle";
	        const COVERAGE = "coverage";
	        const fileSelector = document.getElementById("shapefile");
	        let shapefile_polygon;
	        let shapefile_geojson;
	        let input;
	        let poly_arr = [];
	        let obst_arr = [];
	        let path_arr = [];
	        let midpoint;
	        let bigarr=[];

	        fileSelector.addEventListener("change", (e) => 
	        {
	          const shapefile = e.target.files[0];
	          const reader = new FileReader();
	          reader.readAsArrayBuffer(shapefile);
	          reader.onload = onLoadHandler;
	        });
	        function onLoadHandler() 
	        {
	          	shp(this.result).then((geojson) => 
	          	{

		            shapefile_geojson = geojson;
		            console.log(shapefile_geojson);
		            // geojson_ = geojson;
		            let coverageFeatureCollection = null;
		            const obstacles = [];
		            const coverage = [];
		            // console.log(geojson);
		            geojson.forEach((element) => 
		            {
		              	if (element.fileName == POINT_NAME) 
		              	{
		                	map.data.addGeoJson(element);
		              	} 
		              	if ((element.fileName = POLY_NAME)) 
		              	{
		                	element.features.forEach((feature) => 
		                	{
		                  		// Why has he put this weird regex here?
		                  		const type = feature.properties.type.match(/[a-z]*/i)[0];
		                  		const coords = feature.geometry.coordinates[0];
		                  		if (type == COVERAGE) 	
		                  		{
				                    coverage.push(coords);
		                  		} 
		                  		else if (type == OBSTACLE) 
		                  		{
		                    		obstacles.push(coords);
		                  		} 
		                  		else 
		                  		{
		                    		bloop = type;
		                  		}
		                	});
	              		}
	            	});
			        const poly = turf.polygon(coverage);
			        const mask = turf.polygon(obstacles);
			        console.log(poly);
		           	console.log(mask);

		            //console.log(poly);

		            // const finalCoverage = {
		            //   type: "FeatureCollection",
		            //   features: [turf.mask(poly, mask)],
		            // };
		            // map.data.addGeoJson(finalCoverage);
		            
		            // map.data.setStyle({
		            //   fillColor: "lightblue",
		            //   strokeWeight: 1,
		            //   strokeColor: "blue",
		            // });

		            const p = turf.mask(poly, mask);
		            // console.log(p);
		            // console.log(mask);
		            const len = mask.geometry.coordinates.length;
		            const q = mask.geometry.coordinates;



		            for(var i=0; i< p.geometry.coordinates[1].length; i++)
		            {
		              var temp = {lng: p.geometry.coordinates[1][i][0], lat: p.geometry.coordinates[1][i][1]}
		              poly_arr.push(temp);
		            }

		            
		            path_arr.push(poly_arr);

		            for(var j=0; j< len; j++)
		            {
		              for(var i=(q[j].length) - 1; i>=0 ; i--)
		              {                
		                var ob_temp = {lng: q[j][i][0], lat: q[j][i][1]}
		                obst_arr.push(ob_temp);
		              }
		              path_arr.push(obst_arr);
		              //console.log(path_arr);
		              obst_arr = [];
		            }
		            
		            midpoint = turf.centroid(poly);

		            shapefile_polygon = new google.maps.Polygon(
		            {
			            paths: path_arr,
			            strokeColor: "#FF0000",
			            strokeOpacity: 0.8,
			            strokeWeight: 3,
			            fillColor: "#FF0000",
			            fillOpacity: 0.35
		        	});	

		          	shapefile_polygon.setMap(map);


        		});

      		}
      	</script>
	    <script src="https://unpkg.com/shpjs@latest/dist/shp.js"></script>
	    <script src="https://unpkg.com/@turf/turf/turf.min.js"></script>
	    <script>
	        let map;
	        let arr = [];
	        let reverse_arr = [];
	        let obs_marker;
	        let obs_marker_arr = [];
	        let pathCoords1 = [];
	        let pathCoords2 = [];
	        let pathCoords = [];
	        let route = [];
	        let ani_marker = [];
	        let u;

	        let temp = 'yash';

	        const mapContainerDiv = document.getElementById("map");
	        function initMap() 
	        {
		        const postSIHParty = 
		        {
		        	lng: 72.88804829120636,
		            lat: 19.080222794769302,
		            zoom : 14
		        };
		        map = new google.maps.Map(mapContainerDiv, { zoom: 12, center: postSIHParty });
		        const marker = new google.maps.Marker({ map: map, zoom:14, position: postSIHParty });

		          

		            //let bbox = [-95, 30 ,-85, 40];
		           //let bbox = [ 72.79214859008789, 18.920089944412993, 72.84896850585938, 19.025283423553358];



		          // Create the initial InfoWindow.
		        var infoWindow = new google.maps.InfoWindow(
		        {
		        	content: 'Click on ADD OBSTCALE to get Lat/Lng!', position: postSIHParty
		        });
		              
		        infoWindow.open(map);

				document.getElementById('button').addEventListener("click", function()
		        {
		            shapefile_polygon.addListener('click', function(mapsMouseEvent) 
		            {
		              	// Close the current InfoWindow.
		            	infoWindow.close();
		              	// Create a new InfoWindow.
		              	infoWindow = new google.maps.InfoWindow({position: mapsMouseEvent.latLng});
		              	infoWindow.setContent(mapsMouseEvent.latLng.toString());
		              	infoWindow.open(map);
		              	const lat = mapsMouseEvent.latLng.lat();
		              	const lng = mapsMouseEvent.latLng.lng();

			            obs_marker = new google.maps.Marker(
			            {
			                position: mapsMouseEvent.latLng,
			                map: map
		            	});
		              	obs_marker_arr.push(obs_marker);

		              	arr.push({lng: parseFloat(lng), lat: parseFloat(lat)});
		              
		              	document.getElementById('text').value = arr.map(e=>`{${e.lat}, ${e.lng}} `).join(" ");
		                
		            });

		        });
		          
		        document.getElementById('button1').addEventListener("click", function()
		        {

		            path_arr.push(arr);
		            for (var i = 0; i < obs_marker_arr.length; i++) 
		            {
		              obs_marker_arr[i].setMap(null);
		            }       


		            const pol = arr.map(p => [p.lat,p.lng]);
		            pol.push(pol[0])
		            const shapefileFeature = turf.polygon([pol]);
		            console.log(shapefileFeature);

		            for (var i=0; i<shapefile_geojson.length; i++)
		            {
			            if(shapefile_geojson[i].fileName == POLY_NAME)
			            {
			            	shapefile_geojson[1].features.push(shapefileFeature);
			            }
		            }

		            console.log(shapefile_geojson);


		            obs_marker_arr = [];
		            shapefile_polygon.setMap(null);
		            shapefile_polygon = new google.maps.Polygon(
		            {
		              	paths: path_arr,
		              	strokeColor: "#FF0000",
		              	strokeOpacity: 0.8,
		              	strokeWeight: 3,
		              	fillColor: "#FF0000",
		              	fillOpacity: 0.35
		            });


		            shapefile_polygon.setMap(map);
		            arr = [];
		            document.getElementById('text').value = arr.map(e=>`{${e.lat}, ${e.lng}} `).join(" ");

		        });

		        document.getElementById('button2').addEventListener("click", function()
		        {
		            arr.pop();
		            document.getElementById('text').value = arr.map(e=>`{${e.lat}, ${e.lng}} `).join(" ");

		        });

		        document.getElementById('button4').addEventListener("click", function()
		        {		        
		        	console.log(shapefile_geojson);

		        	pathCoords={{coverage_path | safe}}
			        /*pathCoords = [[{'lat': 19.01245359503361, 'lng': 72.8337113278138},
  {'lat': 19.012453595033612, 'lng': 72.8327615712839},
  {'lat': 19.012453595033605, 'lng': 72.83181181475398},
  {'lat': 19.012453595033605, 'lng': 72.83086205822401},
  {'lat': 19.013357000854356, 'lng': 72.83086205822403},
  {'lat': 19.013357000854356, 'lng': 72.82991230169405},
  {'lat': 19.013357000854356, 'lng': 72.83086205822403},
  {'lat': 19.01426040658692, 'lng': 72.83086205822403},
  {'lat': 19.01426040658692, 'lng': 72.83181181475396},
  {'lat': 19.013357000854356, 'lng': 72.83181181475395},
  {'lat': 19.01335700085436, 'lng': 72.83276157128391},
  {'lat': 19.01335700085436, 'lng': 72.83276157128391},
  {'lat': 19.01426040658692, 'lng': 72.8327615712839},
  {'lat': 19.01426040658692, 'lng': 72.8337113278138},
  {'lat': 19.013357000854352, 'lng': 72.83371132781382},
  {'lat': 19.013357000854356, 'lng': 72.83466108434371},
  {'lat': 19.01426040658692, 'lng': 72.83466108434371},
  {'lat': 19.01426040658692, 'lng': 72.83561084087358},
  {'lat': 19.013357000854356, 'lng': 72.83561084087358},
  {'lat': 19.013357000854356, 'lng': 72.83656059740346},
  {'lat': 19.01426040658692, 'lng': 72.83656059740346},
  {'lat': 19.01426040658692, 'lng': 72.8375103539333},
  {'lat': 19.013357000854356, 'lng': 72.83751035393331},
  {'lat': 19.012453595033605, 'lng': 72.83751035393331},
  {'lat': 19.01155018912469, 'lng': 72.83751035393331},
  {'lat': 19.01064678312761, 'lng': 72.83751035393333},
  {'lat': 19.00974337704235, 'lng': 72.83751035393331},
  {'lat': 19.00883997086894, 'lng': 72.83751035393331},
  {'lat': 19.007936564607363, 'lng': 72.8375103539333},
  {'lat': 19.007033158257634, 'lng': 72.8375103539333},
  {'lat': 19.007936564607363, 'lng': 72.8375103539333},
  {'lat': 19.007936564607363, 'lng': 72.83656059740346},
  {'lat': 19.00883997086894, 'lng': 72.83656059740346},
  {'lat': 19.00883997086894, 'lng': 72.83561084087357},
  {'lat': 19.007936564607363, 'lng': 72.8356108408736},
  {'lat': 19.007936564607363, 'lng': 72.83466108434371},
  {'lat': 19.008839970868944, 'lng': 72.83466108434371},
  {'lat': 19.00883997086894, 'lng': 72.8337113278138},
  {'lat': 19.007936564607366, 'lng': 72.8337113278138},
  {'lat': 19.00883997086894, 'lng': 72.8337113278138},
  {'lat': 19.00974337704235, 'lng': 72.83371132781382},
  {'lat': 19.009743377042355, 'lng': 72.83466108434371},
  {'lat': 19.01064678312761, 'lng': 72.83466108434371},
  {'lat': 19.010646783127612, 'lng': 72.8337113278138},
  {'lat': 19.010646783127605, 'lng': 72.83276157128388},
  {'lat': 19.01064678312761, 'lng': 72.83181181475398},
  {'lat': 19.01064678312761, 'lng': 72.83086205822403},
  {'lat': 19.01064678312761, 'lng': 72.82991230169407},
  {'lat': 19.010646783127612, 'lng': 72.8289625451641},
  {'lat': 19.01064678312761, 'lng': 72.82801278863411},
  {'lat': 19.01064678312761, 'lng': 72.82706303210412},
  {'lat': 19.009743377042355, 'lng': 72.82706303210412},
  {'lat': 19.01064678312761, 'lng': 72.82706303210412},
  {'lat': 19.011550189124694, 'lng': 72.82706303210414},
  {'lat': 19.01155018912469, 'lng': 72.8280127886341},
  {'lat': 19.01155018912469, 'lng': 72.82896254516409},
  {'lat': 19.012453595033605, 'lng': 72.8289625451641},
  {'lat': 19.01245359503361, 'lng': 72.82991230169407},
  {'lat': 19.011550189124694, 'lng': 72.82991230169407},
  {'lat': 19.011550189124694, 'lng': 72.83086205822401},
  {'lat': 19.01155018912469, 'lng': 72.83181181475396},
  {'lat': 19.01155018912469, 'lng': 72.83276157128388},
  {'lat': 19.01155018912469, 'lng': 72.8337113278138},
  {'lat': 19.011550189124694, 'lng': 72.83466108434371},
  {'lat': 19.01155018912469, 'lng': 72.83561084087358},
  {'lat': 19.010646783127605, 'lng': 72.83561084087358},
  {'lat': 19.009743377042355, 'lng': 72.83561084087358},
  {'lat': 19.00974337704236, 'lng': 72.83656059740346},
  {'lat': 19.01064678312761, 'lng': 72.83656059740345},
  {'lat': 19.01155018912469, 'lng': 72.83656059740345},
  {'lat': 19.012453595033605, 'lng': 72.83656059740346},
  {'lat': 19.01245359503361, 'lng': 72.83561084087358},
  {'lat': 19.01245359503361, 'lng': 72.83466108434371}],
 [{'lat': 19.00522634529373, 'lng': 72.83086205822401},
  {'lat': 19.005226345293725, 'lng': 72.82991230169407},
  {'lat': 19.00522634529373, 'lng': 72.8289625451641},
  {'lat': 19.006129751819756, 'lng': 72.8289625451641},
  {'lat': 19.00612975181976, 'lng': 72.82991230169407},
  {'lat': 19.006129751819756, 'lng': 72.83086205822401},
  {'lat': 19.007033158257638, 'lng': 72.83086205822401},
  {'lat': 19.007033158257638, 'lng': 72.82991230169407},
  {'lat': 19.007033158257634, 'lng': 72.82896254516409},
  {'lat': 19.007033158257638, 'lng': 72.8280127886341},
  {'lat': 19.006129751819756, 'lng': 72.82801278863411},
  {'lat': 19.00522634529373, 'lng': 72.82801278863411},
  {'lat': 19.004322938679554, 'lng': 72.82801278863413},
  {'lat': 19.004322938679557, 'lng': 72.8289625451641},
  {'lat': 19.004322938679554, 'lng': 72.82991230169408},
  {'lat': 19.00432293867955, 'lng': 72.83086205822403},
  {'lat': 19.004322938679554, 'lng': 72.83181181475396},
  {'lat': 19.004322938679554, 'lng': 72.83276157128391},
  {'lat': 19.00522634529373, 'lng': 72.8327615712839},
  {'lat': 19.00612975181976, 'lng': 72.8327615712839},
  {'lat': 19.007033158257638, 'lng': 72.83276157128388},
  {'lat': 19.007033158257634, 'lng': 72.8337113278138},
  {'lat': 19.006129751819756, 'lng': 72.83371132781379},
  {'lat': 19.006129751819756, 'lng': 72.8346610843437},
  {'lat': 19.007033158257638, 'lng': 72.83466108434372},
  {'lat': 19.007033158257634, 'lng': 72.83561084087358},
  {'lat': 19.007033158257638, 'lng': 72.83656059740346},
  {'lat': 19.007033158257634, 'lng': 72.83561084087358},
  {'lat': 19.006129751819756, 'lng': 72.8356108408736},
  {'lat': 19.006129751819756, 'lng': 72.83656059740346},
  {'lat': 19.006129751819756, 'lng': 72.83751035393331},
  {'lat': 19.006129751819756, 'lng': 72.83656059740346},
  {'lat': 19.00522634529373, 'lng': 72.83656059740346},
  {'lat': 19.005226345293732, 'lng': 72.83561084087358},
  {'lat': 19.004322938679554, 'lng': 72.83561084087358},
  {'lat': 19.004322938679554, 'lng': 72.83466108434371},
  {'lat': 19.00522634529373, 'lng': 72.83466108434371},
  {'lat': 19.00522634529373, 'lng': 72.8337113278138},
  {'lat': 19.004322938679554, 'lng': 72.83371132781379},
  {'lat': 19.00341953197724, 'lng': 72.8337113278138},
  {'lat': 19.00341953197724, 'lng': 72.83466108434371},
  {'lat': 19.00341953197724, 'lng': 72.8337113278138},
  {'lat': 19.00341953197724, 'lng': 72.8327615712839},
  {'lat': 19.00341953197724, 'lng': 72.83181181475396},
  {'lat': 19.00341953197724, 'lng': 72.83086205822401},
  {'lat': 19.00341953197724, 'lng': 72.82991230169407},
  {'lat': 19.00341953197724, 'lng': 72.82896254516409},
  {'lat': 19.003419531977244, 'lng': 72.82801278863411},
  {'lat': 19.00341953197724, 'lng': 72.8270630321041},
  {'lat': 19.004322938679554, 'lng': 72.82706303210412},
  {'lat': 19.00522634529373, 'lng': 72.82706303210414},
  {'lat': 19.00612975181976, 'lng': 72.8270630321041},
  {'lat': 19.007033158257638, 'lng': 72.82706303210412},
  {'lat': 19.007936564607363, 'lng': 72.82706303210412},
  {'lat': 19.00883997086894, 'lng': 72.82706303210412},
  {'lat': 19.00883997086894, 'lng': 72.82801278863411},
  {'lat': 19.007936564607363, 'lng': 72.82801278863411},
  {'lat': 19.007936564607363, 'lng': 72.82896254516409},
  {'lat': 19.00883997086894, 'lng': 72.8289625451641},
  {'lat': 19.009743377042355, 'lng': 72.82896254516409},
  {'lat': 19.009743377042355, 'lng': 72.82801278863411},
  {'lat': 19.009743377042355, 'lng': 72.82896254516409},
  {'lat': 19.009743377042355, 'lng': 72.82991230169407},
  {'lat': 19.00974337704236, 'lng': 72.83086205822403},
  {'lat': 19.00974337704236, 'lng': 72.83086205822403},
  {'lat': 19.00883997086894, 'lng': 72.83086205822403},
  {'lat': 19.00883997086894, 'lng': 72.82991230169407},
  {'lat': 19.007936564607363, 'lng': 72.82991230169408},
  {'lat': 19.007936564607363, 'lng': 72.83086205822403},
  {'lat': 19.007936564607363, 'lng': 72.83181181475396},
  {'lat': 19.007033158257634, 'lng': 72.83181181475398},
  {'lat': 19.00612975181976, 'lng': 72.83181181475398},
  {'lat': 19.005226345293732, 'lng': 72.83181181475396}]]*/
				

			        
			        //pathCoords2 = [{ "lat":18.957065859327418, "lng": 72.82310881341961 }, { "lat":18.957512323578108, "lng":72.83302225793865 }, 
		                      	//{ "lat":18.951748784128412, "lng": 72.83572592462566}, { "lat":18.957065859327418, "lng": 72.82310881341961 } ]

		            //pathCoords = [pathCoords1, pathCoords2];
		            var len = pathCoords.length;
		            var total_len =0;
		            for(var i =0 ; i<len; i++)
		            {	            	
		        		total_len += pathCoords[i].length;
		            }
		            

		            console.log(total_len);
		            // var len = u.length;
					for(var i = 0; i < len; i++)
					{
						var new_route1 = new google.maps.Polyline(
						{
							path: pathCoords[i],
							geodesic : true,
							strokeColor: '#FF0000',
							strokeOpacity: 1.0,
							strokeWeight: 2,
							editable: false,
							map:map
						});	

					}
					
					autoRefresh(map, len, total_len);

		        });

		        document.getElementById('button3').addEventListener("click", function()
		        {
		            var entry = shapefile_geojson;
                    //console.log(entry);

          // u = "{{ value | safe }} <- this";
          // console.log("hi", u);
          fetch(`${window.origin}/shapefile/create-entry`, {
            // fetch(`${window.origin}/shconv_2`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
              "content-type": "application/json",
            }),
          })
            .then(function (response) {
              if (response.status !== 200) {
                console.log(`Looks like there was a problem. Status code: ${response.status}`);
                return;
              }

              response.json().then(function (data) {
                console.log(data);
              });
            })

            .catch(function (error) {
              console.log("Fetch error: " + error);
            });
        });
        		    document.getElementById('button5').addEventListener("click", function()
		        {
		        	function submit_entry()
		        {
		            var drones=document.getElementById("drones");
		            var ranges=document.getElementById("ranges");
		            var speed=document.getElementById("speed");
		            var altitude=document.getElementById("altitude");
		            var angle=document.getElementById("angle");
		            var obstacles=document.getElementById("obstacles");



		            var entry1 ={
		                drones:drones.value,
		                ranges:ranges.value,
		                speed:speed.value,
		                altitude:altitude.value,
		                angle:angle.value
		                //obstacles:obstacles.value
		            };

                    sessionStorage.setItem("entry1",JSON.stringify(entry1));
         
		            fetch(`${window.origin}/input/hello`, {
	               method: "POST",
	               credentials: "include",
	               body: JSON.stringify(entry1),
	               cache: "no-cache",
	               headers: new Headers({
	                 "content-type": "application/json"
	               })
                })
               .then(function(response) {
	              if (response.status !== 200) {
	                console.log(`Looks like there was a problem. Status code: ${response.status}`);
	                return;
	               }
	             response.json().then(function(data) {
	             console.log(data);
	             });
	            })
	            .catch(function(error) {
	              console.log("Fetch error: " + error);
               });


        }

		        function moveMarker(map, marker, latlng) 
		        {
					marker.setPosition(latlng);
				}

		        function autoRefresh(map, len, total_len) 
		        {
					var i, route1, route2, marker1, marker2;
					
					var vis_arr = [];
					for(var i=0; i<len; i++)
					{
						route1 = new google.maps.Polyline(
						{
							path: [],
							strokeColor: '#008000',
							strokeOpacity: 0.5,
							strokeWeight: 14,
							editable: false,
							map:map
						});
						//console.log(route1);
						route.push(route1);

						marker1 =new google.maps.Marker({map:map,icon:"http://maps.google.com/mapfiles/ms/micons/blue.png"});
						console.log(marker);
						ani_marker.push(marker1);
					}

					 
					var value = 0;					
					for(let p=0; p<route.length; p++)
					{
						var count = 0;
						//console.log(j);
						for (i = 0; i < pathCoords[p].length; i++) 
						{	
							

							setTimeout(function (coords)
							{
								//console.log(coords);								
								var latlng = new google.maps.LatLng(coords.lat, coords.lng);
								route[p].getPath().push(latlng);
								vis_arr.push(coords.lat, coords.lng);
								moveMarker(map, ani_marker[p], latlng);
								count = vis_arr.length;	
								console.log(count);						
								value = (count/(total_len*2))*100;
							
								document.getElementById("file").value = value;

							}, 200*i, pathCoords[p][i]);
						}
					}
				}

	        }


      	</script>
      	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkLQlSCLpYWPwDRI2Sjbnpk4DVkRpneSU&callback=initMap"></script>
      	<script src="https://unpkg.com/@turf/turf/turf.min.js"></script>
    </body>
</html>
